@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");
:root {
  --primary-color: #d3ad7f;
  --black: #13131a;
  --background: #010103;
  --border: 0.1rem solid rgba(255, 255, 255, 0.3);
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.5s;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5rem;
}

body {
  background: var(--background);
}

section {
  padding: 2rem 7%;
}

@keyframes dropDown {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }
  50% {
    opacity: 0.5;
    transform: scaleY(0.7);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
.heading {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 3.5rem;
  font-size: 4rem;
}

.heading span {
  color: var(--primary-color);
  text-transform: uppercase;
}

.price {
  font-size: 1.5rem;
  color: var(--primary-color);
}

.price-item {
  padding: 1rem;
  font-size: 2.5rem;
  color: white;
}
.price-item > span {
  font-size: 1.5rem;
  text-decoration: line-through;
  font-weight: lighter;
}

.header {
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 7%;
  border-bottom: var(--border);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.header__logo img {
  height: 6rem;
}
.header__navbar a {
  margin: 0 1rem;
  font-size: 1.6rem;
  color: #fff;
}
.header__navbar a:hover {
  color: var(--primary-color);
  border-bottom: 0.2rem solid var(--primary-color);
  padding-bottom: 0.5rem;
}
.header__icons > * {
  color: #fff;
  cursor: pointer;
  font-size: 2.5rem;
  margin-left: 2rem;
}
.header__icons > *:hover {
  color: var(--primary-color);
}
.header__icons #menu-btn {
  display: none;
}
.header__search-form {
  position: absolute;
  top: 110%;
  right: 7%;
  background-color: white;
  width: 50rem;
  height: 5rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
}
.header__search-form--active {
  transform: scaleY(1);
}
.header__search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  color: var(--black);
  padding: 1rem;
  text-transform: none;
}
.header__search-form label {
  cursor: pointer;
  font-size: 2.2rem;
  margin-right: 1.5rem;
  color: var(--black);
}
.header__search-form label:hover {
  color: var(--main-color);
}
.header__cart-item-container {
  position: absolute;
  top: 100%;
  right: -100%;
  height: calc(100vh - 9.5rem);
  width: 35rem;
  background: #fff;
  padding: 0 1.5rem;
  transition: all 2s;
}
.header__cart-item-container--active {
  right: 0;
}

.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url("https://i.ibb.co/yk5j53n/home-img.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
.home__content {
  max-width: 60rem;
}
.home__content > h3 {
  font-size: 6rem;
  text-transform: uppercase;
  color: white;
}
.home__content > p {
  font-size: 2rem;
  font-weight: lighter;
  line-height: 1.8;
  padding: 1rem 0;
  color: #eee;
}

.about {
  display: flex;
  flex-direction: column;
}
.about__row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--black);
}
.about__image {
  flex: 1 1 45rem;
}
.about__image > img {
  width: 100%;
}
.about__content {
  flex: 1 1 45rem;
  padding: 2rem;
}
.about__content > h3 {
  font-size: 3rem;
  color: white;
}
.about__content > p {
  font-size: 1.6rem;
  color: gainsboro;
  padding: 1rem 0;
  line-height: 1.8rem;
}

.menu__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
}
.menu__item {
  padding: 5rem;
  margin: 1rem;
  text-align: center;
  border: var(--border);
}
.menu__item img {
  height: 10rem;
}
.menu__item h3 {
  color: white;
  font-size: 2.5rem;
  padding: 0.5rem 0;
}
.menu__item span {
  font-size: 1.5rem;
  text-decoration: line-through;
  font-weight: lighter;
}
.menu__item:hover {
  background: white;
}
.menu__item:hover > * {
  color: var(--black);
}

.product__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}
.product__item {
  text-align: center;
  border: var(--border);
  padding: 2rem;
}
.product__icons > i {
  height: 5rem;
  width: 5rem;
  border: var(--border);
  line-height: 5rem;
  font-size: 2rem;
  color: white;
  margin: 1rem;
  cursor: pointer;
}
.product__icons > i:hover {
  background: var(--primary-color);
}
.product__content > h3 {
  margin-top: 1.5rem;
  color: white;
  font-size: 2.5rem;
}
.product__rating {
  font-size: 2rem;
  margin-top: 1rem;
  color: var(--primary-color);
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background: var(--main-color);
  cursor: pointer;
}

.btn:hover {
  letter-spacing: 0.2rem;
}

.btn__large {
  background-color: var(--primary-color);
  text-align: center;
}

.cart-item {
  position: relative;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.cart-item > img {
  height: 7rem;
}
.cart-item h3 {
  font-size: 2rem;
  color: var(--black);
  padding-bottom: 0.5rem;
}
.cart-item__icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  cursor: pointer;
  color: var(--black);
}
.cart-item__icon:hover {
  color: var(--primary-color);
}

/*# sourceMappingURL=style.css.map */
