.header {
  background: var(--bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 7%;
  border-bottom: var(--border);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  &__logo img {
    height: 6rem;
  }

  &__navbar a {
    margin: 0 1rem;
    font-size: 1.6rem;
    color: #fff;
    &:hover {
      color: var(--primary-color);
      border-bottom: 0.2rem solid var(--primary-color);
      padding-bottom: 0.5rem;
    }
  }

  &__icons {
    & > * {
      color: #fff;
      cursor: pointer;
      font-size: 2.5rem;
      margin-left: 2rem;

      &:hover {
        color: var(--primary-color);
      }
    }
    #menu-btn {
      display: none;
    }
  }

  &__search-form {
    position: absolute;
    top: 110%;
    right: 7%;
    background-color: white;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;

    &--active {
      transform: scaleY(1);
    }

    & input {
      height: 100%;
      width: 100%;
      font-size: 1.6rem;
      color: var(--black);
      padding: 1rem;
      text-transform: none;
    }
    & label {
      cursor: pointer;
      font-size: 2.2rem;
      margin-right: 1.5rem;
      color: var(--black);
      &:hover {
        color: var(--main-color);
      }
    }
  }

  &__cart-item-container {
    position: absolute;
    top: 100%;
    right: -100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background: #fff;
    padding: 0 1.5rem;
    transition: all 2s;

    &--active {
      right: 0;
    }
  }
}
